table{
    width: 100%;
}

th{
    text-align: left;
}

table, th, td {
    border: 1px  solid #000;
    border-collapse: collapse;
}

th, td {
   padding: 5px;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:hover{
    background-color: rgb(147, 108, 219);
    color:aqua;
}